/*  CSS BASE STYLES  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, system-ui, sans-serif;
}

/*  CUTOMIZED CSS VARIABLES */
:root {
  --primary-green-color: #53c351;
  --white: #fff; /* White color for text and backgrounds */
  --radius: 25px; /* Border radius for rounded corners */
  --dark-green-text-color: #0b7509;
}

/* MAIN DASHBOARD LAYOUT */
.main-dashbaord {
  display: flex;
  flex-direction: row;
  width: 1216px;
  height: 832px;
  margin: 112px 96px;
  border-radius: var(--radius);
  padding: auto;
}

/* SIDE BAR STYLES */
.side-bar {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-green-color);
  padding: 20px 25px;
  height: inherit;
  width: 250px;
  border-radius: 25px 0 0 25px; /* Rounded left edges only */
  color: var(--white);
}

/* Power icon in sidebar */
.side-bar .power-icon {
  width: 50px;
  align-self: center;
  margin-bottom: 25px;
}

.side-para {
  font-size: 14px;
}

/* NAVIGATION LINKS */
.nav-links {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 200px;
  height: 328px;
  gap: 20px;
  margin-bottom: 100px;
}

.nav-links p:hover {
  cursor: pointer;
}

/* Individual item alignment */
.nav-item {
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 25px;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
}

/* Active dashboard menu highligh */
.dasboard {
  background-color: rgba(255, 255, 255, 0.623);
  color: var(--dark-green-text-color);
  font-weight: bold;
  width: 200px;
}

/* CONNECT BUTTON STYLES */
.connect-now {
  color: #53c351;
  background-color: var(--white);
  width: 160px;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.connect-now img {
  height: auto;
  font-weight: 500;
}

.connect-now:hover {
  cursor: pointer;
  color: var(--dark-green-text-color);
}

.cs {
  margin-bottom: 15px;
  font-weight: 600;
}

/* MAIN CONTENT AREA */

.main-content {
  height: inherit; /* Fill dashboard height */
  width: inherit; /* Fill dashboard remaining width */
  border: 2px solid brown; /* Temporary debug border */
  border-radius: 0 25px 25px 0; /* Rounded right edges only */
}
